<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "DEVASTRA.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/devastra/images/ui/wheel_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">
            <div style="border-radius: 5px 5px 0px 0px; display: flex; align-items: center; height: 25px; color: orange; background-color: rgb(12, 76, 12);">
                <i style="margin-left: 3px;" class="fas fa-gear"></i>
            </div>
            <div style="height: 5px;">

            </div>

            <div>
                <b>{{ localize "DEVASTRA.TypeOfThrow" }}</b>
                    <select name="choice">
                    {{#select choice }}
                        <option value="0">{{ localize "DEVASTRA.Everybody" }}</option>
                        <option value="1">{{ localize "DEVASTRA.JustDMAndMe" }}</option>
                        <option value="2">{{ localize "DEVASTRA.DMOnly" }}</option>
                        <option value="3">{{ localize "DEVASTRA.MeOnly" }}</option>
                    {{/select}}
                    </select>
            </div>
            <br>
		</div>	
    </section>
</form>