<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "DEVASTRA.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/ui/cde_fond_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">
            <div style="border-radius: 5px 5px 0px 0px; height: 25px; background-color: rgb(12, 76, 12);">

            </div>

            <table style="border: 0px; background-color: transparent;" >
                <tr style="background-color: transparent;">
                    <td class="label col1-5" style="width: 20%;">&nbsp;</td>
                    <td class="image col2-5">
                        <!--  style="display: flex; justify-content: center; align-items: center;" -->
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img class="bigsquare" style="border: 0px; z-index: 4;" src="systems/devastra/images/bigsquare.png" />
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <span class="value" style="font-size: 30px; text-align: center; margin-top: -47px; z-index: 4;"><b>{{ numberofdice }}</b></span>
                        </div>
                    </td>
                    <td class="label col3-5">&nbsp;</td>
                    <td class="label col4-5" style="font-size: 30px"><b>&nbsp;+&nbsp;</b><b>1&nbsp;+</b></td>
                    <td class="label col5-5">&nbsp;</td>
                </tr>
            </table>
            <table style="border: 0px; background-color: transparent;">
                <tr style="background-color: transparent;">
                    <td class="label col1-3">{{ localize "DEVASTRA.Aspect" }}</td>
                    <td class="label col2-3">&nbsp;</td>
                    <td class="label col3-3">{{ localize "DEVASTRA.BonusMalus" }}</td>
                </tr>
                <tr style="background-color: transparent;">
                    <td class="select col1-3">
                        <select name="aspect">
                        {{#select aspect }}
                            <option value="0">{{ localize "DEVASTRA.Metal" }}</option>
                            <option value="1">{{ localize "DEVASTRA.Water" }}</option>
                            <option value="2">{{ localize "DEVASTRA.Earth" }}</option>
                            <option value="3">{{ localize "DEVASTRA.Fire" }}</option>
                            <option value="4">{{ localize "DEVASTRA.Wood" }}</option>
                        {{/select}}
                        </select>
                    </td>
                    <td class="label col2-3" style="font-size: 25px">&nbsp;+&nbsp;</td>
                    <td class="value col3-3"><input class="input" style="text-align: center; width: 60px;" type="number" name="bonusmalus" value="{{bonusmalus}}"/></td>
                </tr style="background-color: transparent;">
            </table>
            <table style="border: 0px; background-color: transparent;">
                <tr>
                    <td class="label col123 totheleft">{{ localize "DEVASTRA.BonusAuspiciousDice" }}</td>
                </tr>
                <tr style="background-color: transparent;">
                    <td  class="select col1-1">
                        <select name="bonusauspiciousdice">
                        {{#select bonusauspiciousdice }}
                            <option value="0">0</option>
                            <option value="1">+1&nbsp;{{ localize "DEVASTRA.AuspiciousDie" }}</option>
                            <option value="2">+2&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="3">+3&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="4">+4&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="5">+5&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="6">+6&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="7">+7&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="8">+8&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="9">+9&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="10">+10&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="11">+11&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="12">+12&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="13">+13&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="14">+14&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                            <option value="15">+15&nbsp;{{ localize "DEVASTRA.AuspiciousDice" }}</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <table style="border: 0px; background-color: transparent;">
                <tr style="background-color: transparent;">
                    <b>{{ localize "DEVASTRA.TypeOfThrow" }}</b>
                    <td class="select col 1-2">
                        <select name="typeofthrow">
                        {{#select typeofthrow }}
                            <option value="0">{{ localize "DEVASTRA.Everybody" }}</option>
                            <option value="1">{{ localize "DEVASTRA.JustDMAndMe" }}</option>
                            <option value="2">{{ localize "DEVASTRA.DMOnly" }}</option>
                            <option value="3">{{ localize "DEVASTRA.MeOnly" }}</option>
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>

		</div>	
    </section>
</form>