<form class="flexcol {{cssClass}}" autocomplete="off">
	
    {{!-- Sheet Body --}}
    <section class="form-body">

        {{!-- Frame --}}
        <div class="frame">
            <div class="domain">
                <table class="domain-table">
                    {{#if (eq domaine "dph")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dph.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dph.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dph.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dph.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dma")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dma.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dma.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dma.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dma.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "din")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.din.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.din.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.din.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.din.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dso")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dso.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dso.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dso.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dso.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                    {{#if (eq domaine "dmy")}}
                    <tr>
                        <td class="domain-icon">
                            <img src="{{systemData.domains.dmy.icon}}" title="{{ localize 'DEVASTRA.Icon' }}{{ localize systemData.domains.dmy.label }}" alt="Icon" />
                        </td>
                        <td class="label"><b>&nbsp;{{ localize systemData.domains.dmy.label }}</b></td>
                        <td class="specialities">
                            {{systemData.domains.dmy.specialities}}
                        </td>
                    </tr>
                    {{else}}
                    {{/if}}
                </table>
            </div>
            <br>   

            <div class="cadre">
                <table class="checkboxes" style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "DEVASTRA.choosewhichinventory" }}</b>
                        <td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="myinventory" value="isinventory" checked>{{ localize "DEVASTRA.frominventory" }}
                            <br>
                            <small>{{ localize "DEVASTRA.developedfrominventory" }}</small>
                        </td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="myinventory" value="isimprovised">{{ localize "DEVASTRA.improvisedweapon" }}
                            <br>
                            <small>{{ localize "DEVASTRA.developedimprovisedweapon" }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cadre">
                <table class="form-group" style="border: 0px; background-color: transparent;">
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="chooseinventory">
                            <input type="radio" name="myweapon" value="weapon" checked>
                            {{ localize "DEVASTRA.choosefrominventory" }}</input>
                        </td>
                        <td class="chooseinventory">
                            <select class="inventory" data-type="String">
                                {{selectOptions inventorychoices selected=selectedinventory labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="chooseinventory">
                            <input type="radio" name="myweapon" value="devastra">
                            {{ localize "DEVASTRA.choosefrominventorydevastra" }}</input>
                        </td>
                        <td class="chooseinventory">
                            <select class="inventorydevastra" data-type="String">
                                {{selectOptions inventorydevastrachoices selected=selectedinventorydevastra labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="chooseinventory">
                            <input type="radio" name="myweapon" value="power">
                            {{ localize "DEVASTRA.choosefrominventorypower" }}</input>
                        </td>
                        <td class="chooseinventory">
                            <select class="inventorypower" data-type="String">
                                {{selectOptions inventorypowerchoices selected=selectedinventorypower labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="chooseinventory">
                            <input type="radio" name="myweapon" value="magic">
                            {{ localize "DEVASTRA.choosefrominventorymagic" }}</input>
                        </td>
                        <td class="chooseinventory">
                            <select class="inventorymagic" data-type="String">
                                {{selectOptions inventorymagicchoices selected=selectedinventorymagic labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields"  style="background-color: transparent;">
                        <td class="choosedamage" style="display: none;">
                            <span class="value"><b>{{ localize "DEVASTRA.choosedamage" }}</b>&nbsp;</span>
                        </td>
                        <td class="choosedamage" style="display: none;">
                            <div style="display: flex;">
                                <select class="damage" style="display: table;">
                                    {{#select damage}}
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    {{/select}}
                                </select>
                                <select class="damage" style="float: left;">
                                    {{#select damagetype}}
                                        <option value="1">@DPh</option>
                                        <option value="2">@DMa</option>
                                        <option value="3">@DIn</option>
                                        <option value="4">@DSo</option>
                                        <option value="5">@DMy</option>
                                    {{/select}}
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div class="cadre">
                <table style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "DEVASTRA.choosewhicharmor" }}</b>
                        <td>
                    </tr>
                </table>
            </div>
            <div class="cadre">
                <table class="form-group" style="border: 0px; background-color: transparent;">
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class ="choosearmor">
                            <span class="value">{{ localize "DEVASTRA.choosearmor" }}</span>
                        </td>
                        <td class ="choosearmor">
                            <select class="armor" data-type="String">
                                {{selectOptions armorchoices selected=selectedarmor labelAttr="label" localize=true}}
                            </select>
                        </td>
                    </tr>
                    <tr class="form-fields" style="background-color: transparent;">
                        <td class="choosearmordevastra">
                            <span class="value">{{ localize "DEVASTRA.choosearmordevastra" }}</span>
                        </td>
                        <td class="choosearmordevastra">
                            <select class="armordevastra" data-type="String">
                                {{selectOptions armordevastrachoices selected=selectedarmordevastra labelAttr="label" localize=true}}
                            </select>
                        </td>

                    </tr>
                </table>
            </div>
    	</div>	
    </section>
</form>