<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "DEVASTRA.SkillPromptName" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body" style="background-image: url('/systems/devastra/images/ui/wheel_transp.png')";
    >

        {{!-- Frame --}}
        <div class="frame">
            <div style="border-radius: 5px 5px 0px 0px; display: flex; align-items: center; height: 25px; color: orange; background-color: rgb(12, 76, 12);">
                <i style="margin-left: 3px;" class="fas fa-dice-d8"></i>&nbsp;{{ skill }}
            </div>
            <div style="height: 5px;">

            </div>

            <div>
                <table class="checkboxes" style="border: 0px; background-color: transparent;">
                    <tr style="background-color: transparent;">
                        <td>
                            <b>{{ localize "DEVASTRA.choosewhichtest" }}</b>
                        <td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="test" value="knownopposition" checked>{{ localize "DEVASTRA.knownopposition" }}
                            <br>
                            <small>{{ localize "DEVASTRA.developedknownopposition" }}</small>
                        </td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="test" value="simpletest">{{ localize "DEVASTRA.simpletest" }}
                            <br>
                            <small>{{ localize "DEVASTRA.developedsimpletest" }}</small>
                        </td>
                    </tr>
                    <tr style="background-color: transparent;">
                        <td>
                            <input type="radio" name="test" value="blindopposition">{{ localize "DEVASTRA.blindopposition" }}
                            <br>
                            <small>{{ localize "DEVASTRA.developedblindopposition" }}</small>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="form-group" style="width: 100%; border: 0px; background-color: transparent;">
                    <tr class="form-fields" style="background-color: transparent;">
                        <td>
                            <span class="value seuil-value" style="display: none;"><b>{{ localize "DEVASTRA.seuil" }}</b>&nbsp;</span>
                            <span class="value opposition-value"><b>{{ localize "DEVASTRA.opposition" }}</b>&nbsp;</span>
                            <select name="opposition">
                                {{#select opposition}}
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            {{/select}}
                            </select>
                            <span class="value">&nbsp;&nbsp;&nbsp;<b>{{ localize "DEVASTRA.modifier" }}</b>&nbsp;</span>
                            <select name="modifier">
                                {{#select modifier}}
                                    <option value="999">{{ localize "DEVASTRA.Modifier999" }}</option>
                                    <option value="0">{{ localize "DEVASTRA.Modifier0" }}</option>
                                    <option value="-2">{{ localize "DEVASTRA.Modifier-2" }}</option>
                                    <option value="-4">{{ localize "DEVASTRA.Modifier-4" }}</option>
                                    <option value="-6">{{ localize "DEVASTRA.Modifier-6" }}</option>
                                    <option value="-8">{{ localize "DEVASTRA.Modifier-8" }}</option>
                                {{/select}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>

    	</div>	
    </section>
</form>