<ol class="item-list">
  {{#each anomalies as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
    <span class="item-name">{{item.name}}</span>
    <div class="item-controls">
      <a class="item-control" title="{{ localize 'DEVASTRA.AnomalyEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
      <a class="item-control" title="{{ localize 'DEVASTRA.AnomalyDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
<p>
  <a class="item-control" title="{{ localize 'DEVASTRA.AnomalyCreate' }}" data-action="create" data-type="anomaly"><i class="fas fa-plus"></i> {{ localize "DEVASTRA.AnomalyCreate" }}</a>
</p>
